/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    width: 400px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-box {
    size: 500px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.back-arrow {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    display: block;
    text-align: left;
}

h2 {
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.sign-in .btn-black {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-in .btn-black:hover {
    background-color: #333;
}

.social-signin {
    margin-top: 15px;
}

.social-signin button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}






